body {
  background-image: url("../background/sandglass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 5px;
}

select {
  background-color: rgb(234, 225, 211, 0.8);
  border-radius: 8px;
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
}

footer {
  color: black;
  font-size: 12px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.container {
  background-color: rgb(234, 225, 211, 0.7);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
  max-width: 600px;
  margin: 40px auto;
  padding: 10px 20px;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 5px 0;
  padding: 20px 0;
  justify-content: space-between;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.6;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

.backLink {
  color: black;
}
